<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Freudian slipper</title>
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/slip.css" />
		<link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/mill" rel="stylesheet" type="text/css"/>
	</head>

	<body>
		{% block main_content %}
		<div id="url_box">  
		 	<form class="centered" id="url_form" action={% url slip_freudify_url url="" %} enctype="multipart/form-data" method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<div id="freudify_button">
					<input id="submit_button" type="submit" value="freudify" />
				</div>
			</form>
		</div>
		{% endblock %}
		
		<div id="footer_padding"></div>
		</div>
		<div id="footer">
			{% block footer %}
				v0.1b. Coded as a project for Laboratory of Computational Creativity and Humour course at University of Helsinki <br>
				All tights deserved by Simo Linkola (slinkola (at) cs.helsinki.fi)
			{% endblock %}
		</div>
	</body>
</html>