<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Freudifier</title>
		<link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.jpg" />
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/slip.css" />
		<link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/mill" rel="stylesheet" type="text/css"/>
	</head>

	<body class="what body">
		{% block toolbar %}
		<div id="menu">
			<table id="menu_table">
				<tr>
					<td><a class="what menu_link" href={% url slip_base_url %}>home</a></td>
					<td><a class="what menu_link" href={% url slip_contribute_url %}>contribute</a></td>
				</tr>
			</table>
		</div>
		{% endblock %}
	
		{% block main_content %}
		<div id="about">
		
			<div class="column_wrapper">
				<h1 class="about_header">What is this wizardry?</h3>
			
				<div class="left_column">
					<h2 class="column_header">About</h2>
					Freudifier is a small Django based application made for purely recreational purposes.
					Its' origins can be found from the course Laboratory of Computational Creativity and Humour,
					which took place at University of Helsinki in fall 2012. 
				</div>
				<div class="right_column">
					<h2 class="column_header">Source</h2>
					You are free to inspect the <a href="http://github.com/assamite/Slipper">source code</a> of 
					the project. If you want to participate in coding of the project, send me an email to the
					address shown in footer. 
				</div>
			</div>
			
		</div>
		{% endblock %}
		
		<div id="footer_padding"></div>
		</div>
		<div id="footer">
			{% block footer %}
				v0.1b. Coded as a project for Laboratory of Computational Creativity and Humour course at University of Helsinki <br>
				All tights deserved by Simo Linkola (slinkola (at) cs.helsinki.fi)
			{% endblock %}
		</div>
	</body>
</html>